
# Library Files
# Visual Studio Project Files
/build/libDEAVisualStudio/libDEA/libDEA/**
/build/libDEAVisualStudio/libDEA/ipch/**
/build/libDEAVisualStudio/libDEA/*.sdf
/build/libDEAVisualStudio/libDEA/*.sln
/build/libDEAVisualStudio/libDEA/*.suo

# NetBeans Project Files
/build/libDeaNetBeans/build/Debug/**
/build/libDeaNetBeans/nbproject/*.mk
/build/libDeaNetBeans/nbproject/*.bash
/build/libDeaNetBeans/nbproject/*.xml
/build/libDeaNetBeans/nbproject/private/*.xml
/build/libDeaNetBeans/nbproject/private/*.properties
/build/libDeaNetBeans/nbproject/private/*.mk
/build/libDeaNetBeans/dist/Debug/**

# XCode Project Archives
/build/libDEA_XCode/*.pbxproj

# Demo Files
/demo/**

# Object files
*.o
*.ko
*.obj
*.elf
*.o.d

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

/build/libDeaNetBeans/dist/**
/build/libDeaNetBeans/nbproject/**
/demo/Mem_test/build/**
/demo/Mem_test/dist/**
